<div class="row d-flex justify-content-center align-items-center" style="height: 98vh;">
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <h1>Giriş Sayfası</h1>
                <p>Giriş yapmak için lütfen bilgilerinizi doldurun</p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input [(ngModel)]="data.userName" type="text" class="form-control">
                </div>

                <div class="form-group mt-2">
                    <label>Şifre</label>
                    <input [(ngModel)]="data.password" type="password" class="form-control">
                </div>

                <div class="form-group">
                   <button (click)="login()" class="btn btn-dark w-100">
                        Giriş Yap
                   </button>
                   <a href="/register" style="float: right;">
                        Kayıt Ol
                   </a>
                </div>
            </div>
        </div>
    </div>
</div>